
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Dev-hobby.pl</title>
    <meta name="description" content="">
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
</head>
<body>

    <nav class="navbar bg-body-tertiary navbar-expand-lg navbar-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarToggler">
                <a class="navbar-brand"
                   asp-controller="Home"
                   asp-action="Index">
                    <img src="~/Images/dev-hobby-logo.png" alt="Dev-Hobby.pl">
                </a>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Home"
                           asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           asp-controller="Course"
                           asp-action="List">Kursy</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Szukaj" aria-label="Szukaj">
                    <button class="btn btn-outline-success" type="submit">Szukaj</button>
                </form>
            </div>
        </div>
    </nav>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/Images/carousel4.png" class="d-block w-100" alt="Cms Shop" height="400px">
            </div>
            <div class="carousel-item">
                <img src="~/Images/carousel5.png" class="d-block w-100" alt="Portal Randkowy" height="400px">
            </div>
            <div class="carousel-item">
                <img src="~/Images/carousel6.png" class="d-block w-100" alt="Angular od zera do bohatera" height="400px">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </main>

</body>
</html>
